* {
    margin: 0;
    padding: 0;
}

footer{
  color: #fff;
  padding: 5px 0;
  text-align: center;
}
/* APP DOWNLOAD LINK */
.app-symbol img{
  height: 150px;
  width: auto;
}

h1:after {
    display: block;
    height: 3px;
    background-color: #ed028c;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

.row main {
  padding-left: 25px;
}

.app-link {
    color: #fff;
    background-color: #ed028c;
    border-color: #ed028c;
}

.app-link:hover,
.app-link:focus,
.app-link:active{
    color: #fff;
    background-color: #cc087b;
    border-color: #cc087b;
}

.navbar-dark .navbar-brand {
    color: #ed028c;
}
 .gericht .info {
  width: 85%;
  float: left;
}
.gericht .nummer{
  font-weight: bold;
  padding-right: 15px;
}
.gericht .name{
  font-weight: bold;
  padding-right: 15px;
}
.gericht .zutaten{
  font-size: 70%;
}
.gericht .preis{
  float: left;
  width: 14%;
  text-align: center;
  font-weight: bold;
}
