* {
    margin: 0;
    padding: 0;
}

footer{
  color: #fff;
  padding: 5px 0;
  text-align: center;
}
footer a{
  color: #fff;
}
/* APP DOWNLOAD LINK */
.app-symbol img{
  height: 150px;
  width: auto;
}

h1:after {
    display: block;
    height: 3px;
    background-color: #ed028c;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

.row main {
  padding-left: 25px;
}

.app-link {
    color: #fff;
    background-color: #ed028c;
    border-color: #ed028c;
}

.app-link:hover,
.app-link:focus,
.app-link:active{
    color: #fff;
    background-color: #cc087b;
    border-color: #cc087b;
}

.navbar-dark .navbar-brand {
    color: #ed028c;
}
.gericht .info {
  width: 85%;
  float: left;
}
.gericht .nummer{
  font-weight: bold;
  padding-right: 15px;
  padding-left: 5px;
}
.gericht .name{
  font-weight: bold;
  padding-right: 20px;
}
.gericht .zutaten{
  font-size: 70%;
}
.gericht .preis{
  float: left;
  width: 15%;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

.gericht .preis2{
  float: left;
  width: 15%;
  text-align: center;
  font-weight: bold;
  font-size: 65%;
}
.gericht:nth-of-type(even){
    background-color: #f3f3f3;
}
.hoch {
  font-weight: normal;
  font-size: 50%;
  vertical-align: super;
}
.gericht::after {
  content: "";
  display: block;
  clear: both;
}
.card-body {
    padding: 10px;
}
.colored {
  color: #ed028c;
  font-size: 120%;
}
.headline {
  color: #ed028c;
  font-size: 120%;
  text-decoration: underline;
}
.colored-s {
  color: #ed028c;
}
.strike {
    font-weight: bold;
    text-decoration: line-through;
}
.zusatzstoffe {
    font-size: 70%;
}

.mindest-l {
  float: left;
  width: 10%;
}

.mindest-r {
  float: left;
  width: 90%;
}
.mindest::after {
  content: "";
  display: block;
  clear: both;
}
