* {
    margin: 0;
    padding: 0;
}

footer{
  color: #fff;
  padding: 5px 0;
  text-align: center;
}
/* APP DOWNLOAD LINK */
.app-symbol img{
  height: 150px;
  width: auto;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}
